.container {
    display: grid;
    /* co bao nhieu gia tri la bay nhieu col */
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px 200px;
    grid-gap: 3px;
}


/*  how to make items will resize as the size of the windows */


/* USING Fragment */

.container {
    display: grid;
    /* 3 la so luong i colum, va 1fr la ca 3 items cung co cung gia tri */
    grid-template-columns: repeat(3, 1fr);
    /* Hai dong va moi dong co 50px */
    grid-template-rows: repeat(2, 50px);
    grid-gap: 3px;
}


/* Positioning Items */

.header {
    grid-column: 1 / -1;
    grid-column: 1 / span 2;
    /* span 2 it means width = 2 colum */
}


/* Templates area */

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: "h h h h h h h h h h h h" "m c c c c c c c c c c c" "f f f f f f f f f f f f";
}


/* if you want to blank using the . => . h h h h h h h h h h h */

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}


/* Auto-fit and minmax - CSS Grid tutorial Community chat*/

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);
}


/* automaticly responsive on any divice */


/* arn CSS Grid for free
Implicit rows - CSS Grid tutorial Community chat  => all roows will have the same size tall*/

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
}


/* An awesome image grid - CSS Grid tutoria */

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
    /*  dense will fill all the blank between imgaes */
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}


/* Named Lines - CSS Grid tutoria */

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 40px [content-start] auto [content-end] 40px [main-end];
}

.header {
    grid-column: main;
}

.menu {}

.content {
    grid-column: content;
}

.footer {
    grid-column: main;
}


/* Justify-content and align content - CSS Grid tutoria */

.container {
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    justify-content: space-around;
    /* align-content: center; */
}


/* justify-items and align-items - CSS Grid tutorial
Community chat
 */

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    justify-items: center;
    align-items: center;
}

.header {
    grid-column: 1 / -1;
}

.menu {
    grid-column: 1 / 3;
}

.content {
    grid-column: 3 / -1;
    justify-self: center;
    align-self: end;
}

.footer {
    grid-column: 1 / -1;
}


/* Auto-fit vs. auto-fill - CSS Grid tutorial
Community chat
 */


/* Auto-fit: will add many items as tehy can when resize the sreen bigger. BUT when there is no items the auto-fit will streght out items to looks responsive */


/* Auto fill: same with auto fit but when add all items but the screen is bigger there a space for new one  */

article {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    grid-column-gap: 10px;
}

article>* {
    grid-column: 2;
    min-width: 0;
}

article>figure {
    grid-column: 1 / -1;
    margin: 20px 0;
}

article>.aside {
    grid-column: 3;
    color: #666;
    font-size: 0.8em;
}

article>blockquote {
    grid-column: 1 / -1;
    margin: 10px 0;
    color: #666;
    border-left: 10px solid #eee;
    padding-left: 10px;
}


/*  USing grid and flexbox at the same time */

.grid-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
    grid-column: 1 / -1;
    display: flex;
}

.header>div:nth-child(3) {
    margin-left: auto;
}

.menu {
    grid-column: 1 / 2;
}

.content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 1 / -1;
}


/*  Some cool technich */

#lastest-work li {
    width: 23%;
    float: left;
    list-style-type: none;
}

#lastest-work li:nth-child(2) {
    margin: 0 2%;
}

#selling-points::after {
    display: block;
    content: "";
    clear: both;
}

footer ul:nth-child(odd) {
    clear: both;
}


/* link image for phone :https://www.youtube.com/watch?v=QQs7i4NwRB8&list=PL4cUxeGkcC9j-0YIv3EDq58-B1yZWvw8_&index=12 */