@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*   Constructer of Stylesheet
 * 1.general
 * 2.layout
 * 3.template( common components, footer, header, scroll)
 * 4.content ( style for each seation)
 * 5.layout on smartphone(sp)
 * 6.template for sp
 * 7.content for sp
 * ※The breakpoint is 768, so please change it according to the site*/


/****************
   1.GENERAL 
*****************/

html {
    font-size: 10px;
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}


/****************
  2.LAYOUTS 
  *****************/

.inner {
    margin: 0 auto;
    height: 100%;
    width: 98%;
}

@media only screen and (min-width: 768px) {
    .container {
        min-width: 1120px;
    }
}


/****************
   3. Template 
*****************/


/* ********************** Header Section ********************************* */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

#header a img {
    margin-left: 20px;
}

#gNav nav .nav_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_list li {
    margin-left: 35px;
}

.nav_list li {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
}

.nav_list .header_email {
    line-height: 0;
}

.nav_list li a {
    color: #333333;
}

.nav_list li a:hover {
    color: #0c46c1;
}


/* End global gNav */

.btn_header_toggle {
    display: none;
}

.menu-toggle {
    display: none;
}


/* **********************  End Header Section ********************************* */


/* **********************  Start Footer Section ********************************* */

.pagetop {
    width: 100%;
    height: 80px;
    background-color: #0c46c1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagetop p {
    position: relative;
    font-size: 1.2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    bottom: -12px;
}

.pagetop p::before {
    position: absolute;
    content: "";
    background-image: url("../img/common/icon_scrolltop.png");
    width: 34px;
    height: 19px;
    bottom: 25px;
    left: 3px;
}


/* End scroll Toppage */

#footer {
    background-color: #313738;
}

.ft_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ft_address {
    width: 50%;
}

.ft_links {
    width: 30%;
}

.ft_address a img {
    margin-top: 40px;
    margin-bottom: 9px;
}

.ft_address p {
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.ft_address .ft_contents01 {
    font-weight: bold;
}

.ft_links div a {
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.ft_links_top {
    margin-top: 47px;
}

.ft_links_top a,
.ft_links_botom a {
    margin-left: 32px;
}

.copyright {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 30px;
}


/* **********************  End Footer Section ********************************* */


/****************
   4. Content
*****************/


/* start banner */

.bnr_top {
    margin-top: 70px;
}

.bnr_top img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
}


/* End Banner */


/* start news section */

.top_sec01 {
    display: flex;
    justify-content: flex-start;
    padding: 105px 0;
    margin: 0 200px;
}

.top_sec01 h4 {
    font-size: 4rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 4px;
    text-align: center;
    color: #333333;
}

.top_sec01_news {
    background-image: url("../img/top/icon_top_news.jpg");
    width: 88px;
    height: 27px;
    align-self: center;
    margin-left: 30px;
}

.top_sec01 .top_sec01_news p {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    color: #ffffff;
    line-height: 1.5;
    text-align: center;
    margin-left: auto;
}

.top_sec01 p {
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.78;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-left: 62px;
}

.top_sec01 p span {
    color: #2458c7;
}


/* End top sec01*/

.top_sec02 {
    background-image: url("../img/top/bg_top_company01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 120px;
}

.wrap_top_sec {
    padding: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ttl_section {
    font-size: 4.5rem;
    letter-spacing: 4.5px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
}

.sub_ttl_section {
    background-image: url("../img/top/icon_top_ttl.jpg");
    width: 115px;
    height: 27px;
    background-repeat: no-repeat;
    padding-top: 5px;
    margin-top: 21px;
}

.sub_ttl_section p {
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.9px;
    text-align: center;
    color: #ffffff;
}

.sec_description {
    font-size: 1.8rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.94;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 40px;
}

.btn_top_more {
    background-image: url("../img/top/btn_top_more.jpg");
    background-repeat: no-repeat;
    width: 300px;
    height: 60px;
    padding-top: 14px;
    margin-top: 60px;
}

.btn_top_more a p {
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
}


/* End top sec02 */

.top_sec03 {
    background-image: url("../img/top/bg_top_recruit01.png");
    padding: 70px 0 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 13px;
    margin-top: -165px;
}


/* End top sec03 */

.top_sec04 {
    background-image: url("../img/top/bg_top_product.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -48px;
    padding-top: 80px;
}


/* End top sec04 */

.btn_top_contact {
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
}

.btn_top_contact a {
    background-image: url("../img/top/btn_top_company.jpg");
    background-repeat: no-repeat;
    padding: 38px 324px;
}

.btn_top_contact a span {
    font-size: 2.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
}


/****************
   6.template for sp
*****************/

@media only screen and (max-width: 768px) {
    #gNav.open {
        display: block;
        position: absolute;
        top: 70px;
        right: 0;
        padding: 30px;
        background: linear-gradient(148deg, rgba(25, 133, 168, 1) 30%, rgba(125, 181, 199, 1)52%);
        width: 100vw;
        height: 100vh;
    }
    #gNav {
        display: none;
    }
    #gNav nav .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav_list li {
        border-bottom: 1px solid #dce2e4;
        display: block;
        padding: 10px 0;
        margin-left: 0;
        width: 100%;
    }
    .nav_list li a {
        color: #ffffff;
        float: left;
    }
    .nav_list li a:hover {
        color: #0c46c1;
    }
    #header a img {
        margin-left: 0;
    }
    #header h1 a img {
        margin-left: 20px;
        width: 80%;
    }
    /* burger menu */
    .menu-toggle {
        padding: 1em;
        position: absolute;
        top: 1em;
        right: .5em;
        cursor: pointer;
        display: block;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background: linear-gradient(110deg, rgba(12, 153, 193, 1) 31%, rgba(12, 70, 193, 1) 100%);
        height: 3px;
        width: 2em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    .hamburger::before {
        transform: translateY(-7px);
    }
    .hamburger::after {
        transform: translateY(4px);
    }
    .close .hamburger {
        transform: rotate(45deg);
    }
    .close .hamburger::before {
        display: none;
    }
    .close .hamburger::after {
        transform: translateY(1px) rotate(-90deg);
    }
}